@font-face {
  font-family: 'icomoon';
  src:         url("../fonts/icomoon/icomoon.eot?srf3rx");
  src:         url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style:  normal;
}

/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */

body {
  font-family: "Open Sans", sans-serif;
  font-size:   18px;
  line-height: 28px;
  font-weight: 300;
  color:       #85919d;
  height:      100%;
  position:    relative;
  min-width:   320px;
}

body.bfio-overflow {
  overflow-x: hidden;
}

a {
  color:              #4b3f80;
  -webkit-transition: 0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
}

a:hover, a:active, a:focus {
  color:           #4b3f80;
  outline:         none;
  text-decoration: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color:       #484c50;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin:      0 0 30px 0;
}

section {
  position: relative;
}

::-webkit-selection {
  color:      #818892;
  background: #f9f6f0;
}

::-moz-selection {
  color:      #818892;
  background: #f9f6f0;
}

::selection {
  color:      #818892;
  background: #f9f6f0;
}

.btn {
  margin-right:          4px;
  margin-bottom:         4px;
  font-family:           "Open Sans", sans-serif;
  font-size:             16px;
  font-weight:           400;
  -webkit-border-radius: 4px;
  -moz-border-radius:    4px;
  -ms-border-radius:     4px;
  border-radius:         4px;
  -webkit-transition:    0.5s;
  -o-transition:         0.5s;
  transition:            0.5s;
}

.btn.btn-md {
  padding: 10px 20px !important;
}

.btn.btn-lg {
  padding: 18px 36px !important;
}

.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline:    none !important;
}

.btn-primary {
  background: #4b3f80;
  color:      #fff;
  border:     2px solid #4b3f80;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background:   #4b3f80 !important;
  border-color: #4b3f80 !important;
}

.form-control {
  box-shadow:  none;
  background:  transparent;
  border:      2px solid rgba(0, 0, 0, 0.1);
  height:      54px;
  font-size:   18px;
  font-weight: 300;
}

.form-control:active, .form-control:focus {
  outline:      none;
  box-shadow:   none;
  border-color: #4b3f80;
}

#bfio-whitepaper {
  text-align: center;
  padding:    1em 0;
}

#bfio-header {
  position:       fixed;
  width:          100%;
  left:           0;
  padding-top:    40px;
  z-index:        12;
  background:     white;
  border-bottom:  4px solid #4B3F80;
  padding-bottom: 20px;
}

body.scrolled #bfio-header {
  padding-top:    10px;
  padding-bottom: 10px;
}

body.scrolled #bfio-header #bfio-logo a {
  transform: translateX(-50%) scale(0.6);
}

#bfio-header #bfio-logo {
  text-align: center;
  display:    block;
  position:   absolute;
  width:      100%;
  left:       0;
  top:        -12px;
  z-index:    1;
}

#bfio-header #bfio-logo a {
  position:   absolute;
  top:        -35px;
  transition: 0.5s all;
  transform:  translateX(-50%);
}

#bfio-header #bfio-logo a svg {
  max-width: 100%;
}

#bfio-header nav {
  position: relative;
}

#bfio-header nav ul {
  padding:  0;
  margin:   0;
  z-index:  2;
  position: relative;
}

#bfio-header nav ul li {
  display: inline;
}

#bfio-header nav ul li a {
  font-size:   18px;
  color:       #4B3F80;
  font-weight: bold;
}

#bfio-header nav ul li a.main-nav {
  border-bottom: 3px solid transparent;
}

#bfio-header nav ul li a.main-nav:hover,
#bfio-header nav ul li a.main-nav.active {
  border-bottom: 3px solid #4B3F80;
}

#bfio-header nav ul li.bfio-cta-btn a {
  position:              relative;
  border-bottom:         none;
  padding:               7px 20px;
  border:                2px solid #4B3F80;
  -webkit-border-radius: 7px;
  -moz-border-radius:    7px;
  -ms-border-radius:     7px;
  border-radius:         7px;
}

#bfio-header nav ul li.bfio-cta-btn a:hover {
  border: 2px solid white;
}

#bfio-header nav ul li.active a {
  color: white;
}

#bfio-header nav ul.left-menu li {
  margin-right: 30px;
}

#bfio-header nav ul.right-menu li {
  margin-left: 30px;
}

@media screen and (max-width: 1200px) {
  #bfio-header #bfio-logo a {
    transform: translateX(-50%) scale(0.8);
  }

  #bfio-header nav ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  #bfio-header {
    padding-top:    20px;
    padding-bottom: 20px;
  }

  #bfio-header nav ul.left-menu li {
    margin-right: 10px;
  }

  #bfio-header nav ul.right-menu li {
    margin-left: 10px;
  }

  #bfio-header #bfio-logo a {
    transform: translateX(-50%) scale(0.6);
  }
}

@media screen and (max-width: 768px) {
  #bfio-header {
    padding-top:    40px;
    padding-bottom: 40px;
  }

  #bfio-header nav ul {
    display: none;
  }

  #bfio-header #bfio-logo a {
    transform: translateX(-50%) scale(0.8);
  }

  body.scrolled #bfio-header {
    padding-top:    20px;
    padding-bottom: 30px;
  }

  body.scrolled #bfio-header #bfio-logo a {
    transform: translate(-50%, -20px) scale(0.5);
  }
}

#bfio-hero .title .cloud-container {
  right:     -50px;
  top:       -32px;
  width:     382px;
  height:    360px;
  left:      auto;
  transform: scale(1.4);
}

@media screen and (max-width: 1200px) {
  #bfio-hero .title .cloud-container {
    right: -110px;
  }
}

@media screen and (max-width: 992px) {
  #bfio-hero .title .bfio-right-position {
    margin-bottom: 20px;
  }

  #bfio-hero .title .cloud-container {
    width:       100%;
    height:      250px;
    top:         -20px;
    left:        50%;
    margin-left: -50%;
    min-width:   320px;
  }
}

@media screen and (max-width: 768px) {
  #bfio-hero .title .cloud-container {
    width:       100%;
    height:      390px;
    top:         -90px;
    left:        50%;
    margin-left: -50%;
    min-width:   320px;
  }

}

#bfio-hero .animation .cloud-container {
  left:   160px;
  top:    120px;
  width:  780px;
  height: 320px;
}

#bfio-hero .action-call {
  position: absolute;
  z-index:  16;
  bottom:   60px;
  right:    10%;
}

#bfio-hero .action-call a.btn {
  font-size: 30px;
  width: 100%;
}

#bfio-hero .container {
  position: relative;
}

@media screen and (max-width: 1200px) {
  #bfio-hero .animation .cloud-container {
    left:   110px;
    top:    120px;
    width:  780px;
    height: 320px;
  }
}

@media screen and (max-width: 992px) {
  #bfio-hero .animation .cloud-container {
    left:   160px;
    top:    120px;
    width:  780px;
    height: 320px;
  }

  #bfio-hero .action-call a.btn {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  #bfio-hero .animation .cloud-container {
    left:   110px;
    top:    120px;
    width:  780px;
    height: 320px;
  }

  #bfio-hero .action-call {
    position:   static;
    float:      none !important;
    text-align: center;
  }

}

@media screen and (max-width: 400px) {

  #bfio-hero .animation .cloud-container {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
}

.animate-cloud-top {
  animation-duration:        2s;
  animation-name:            cloud-like-1;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.animate-cloud-top.speed-1 {
  animation-duration: 1s;
}

.animate-cloud-top.speed-2 {
  animation-duration: 2s;
}

.animate-cloud-top.speed-3 {
  animation-duration: 3s;
}

.animate-cloud-top.speed-4 {
  animation-duration: 4s;
}

.animate-cloud-left {
  animation-duration:        5s;
  animation-name:            cloud-like-2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes cloud-like-1 {
  from {
    transform: translateY(2px) rotateY(10deg);
  }

  50% {
    transform: translateY(-2px) rotateY(-10deg);
  }

  to {
    transform: translateY(2px) rotateY(10deg);
  }
}

@keyframes cloud-like-2 {
  from {
    transform: translateX(1px) rotateY(10deg);
  }

  50% {
    transform: translateX(-1px) rotateY(-10deg);
  }

  to {
    transform: translateX(1px) rotateY(10deg);
  }
}

#bfio-hero {
  background-color:      transparent;
  background-size:       cover;
  background-attachment: fixed;
  background-repeat:     no-repeat;
  position:              relative;
  width:                 100%;
}

@media screen and (max-width: 480px) {

}

.background {
  background: white;
  position:   fixed;
  top:        0;
  left:       0;
  width:      100%;
  height:     100%;
  z-index:    2;
  transition: 0.5s;
}

#bfio-hero .bfio-overlay {
  position: absolute;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;
  z-index:  9;
}

#bfio-hero .bfio-intro {
  display:  table;
  width:    100%;
  z-index:  10;
  position: relative;
}

#bfio-hero .bfio-intro > div {
  vertical-align: middle;
  display:        table-cell;
}

#bfio-hero .bfio-intro > div .bfio-left-position {
  width: 65%;
  float: left;
}

@media screen and (max-width: 992px) {
  #bfio-hero .bfio-intro > div .bfio-left-position {
    width: 100%;
  }
}

#bfio-hero .bfio-intro > div .bfio-center-position {
  width:      65%;
  text-align: center;
  margin:     0 auto;
}

@media screen and (max-width: 992px) {
  #bfio-hero .bfio-intro > div .bfio-center-position {
    width:      100%;
    text-align: center;
  }
}

#bfio-hero .bfio-intro > div .bfio-right-position {
  width:      65%;
  float:      right;
  text-align: right;
}

@media screen and (max-width: 992px) {
  #bfio-hero .bfio-intro > div .bfio-right-position {
    width:      100%;
    text-align: center;
  }
  .bfio-intro.animation {

    z-index: 9;
    margin-top: 70px;

  }
}

#bfio-hero .bfio-intro > div h2 {
  font-size:   70px;
  font-family: "Poppins", sans-serif;
  line-height: 87px;
  font-weight: bold;
  color:       #E6501E;
}

@media screen and (max-width: 992px) {
  #bfio-hero .bfio-intro > div h2 {
    font-size:   40px;
    line-height: 57px;
    text-align:  center;
  }
}

#bfio-hero .bfio-intro > div h3 {
  font-weight: 100;
  font-size:   30px;
  line-height: 45px;
  color:       #E6501E;
}

@media screen and (max-width: 992px) {
  #bfio-hero .bfio-intro > div h3 {
    font-size:   24px;
    line-height: 37px;
    text-align:  center;
  }
  #bfio-hero .bfio-intro > div {
    text-align: center;
  }
}

#bfio-hero .bfio-intro > div .btn-primary {
  min-width: 200px;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  #bfio-hero .bfio-intro > div .btn-primary {
    padding: 10px 30px !important;
    width:   100%;
  }
}

#bfio-hero .bfio-learn-more {
  position:   absolute;
  bottom:     -25px;
  left:       50%;
  z-index:    11;
  text-align: center;
}

#bfio-hero .bfio-learn-more a {
  display: block;
}

#bfio-hero .bfio-learn-more a .text {
  display:       block;
  color:         rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

#bfio-hero .bfio-learn-more a .arrow {
  display:               block;
  width:                 50px;
  height:                50px;
  margin:                0 auto;
  background:            #4b3f80;
  -webkit-border-radius: 50%;
  -moz-border-radius:    50%;
  -ms-border-radius:     50%;
  border-radius:         50%;
}

#bfio-hero .bfio-learn-more a .arrow i {
  top:            10px;
  position:       relative;
  color:          #fff;
  vertical-align: middle;
}

.no-js-fullheight {
  height: 620px;
}

@media screen and (max-width: 768px) {
  .no-js-fullheight {
    height:  inherit;
    padding: 3em 0;
  }
}

.bfio-lead {
  font-size:     50px;
  font-weight:   300;
  color:         #484c50;
  margin-bottom: 50px;
}

.bfio-second-lead {
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .bfio-lead {
    font-size:     35px;
    margin-bottom: 30px;
  }

  .bfio-second-lead {
    font-size: 22px;
  }
}

.bfio-sub-lead {
  font-size:   18px;
  line-height: 32px;
  font-weight: 300;
}

section {
  padding: 3em 0;
}

@media screen and (max-width: 768px) {
  section {
    padding: 2em 0;
  }
}

.project-description .p-like {
  text-justify: distribute;
  text-align:   justify;
}

.project-description .main {
  color:     #E6501E;
  font-size: 20px;
}

.bfio-characteristics {
  position: relative;
}

.cloud-container {
  position:  absolute;
  z-index:   -2;
  width:     100%;
  height:    100%;
  left:      50%;
  top:       50%;
  transform: translateX(-50%) translateY(-50%) scale(1.2);
  min-width: 760px;
}

.cloud-container .cloud {
  stroke: #4b3f80;
  width:  100%;
  height: 100%;
}

.cloud-container.decoration {
  z-index: -2;
}

.cloud-container.decoration.left {
  left:      -120px;
  transform: none;
  width:     500px;
  height:    250px;
  top:       -210px;
}

.cloud-container.decoration.right {
  right:     -150px;
  transform: none;
  width:     500px;
  height:    250px;
  top:       -110px;
  left:      auto;
}

@media screen and (max-width: 992px) {
  .cloud-container.decoration.right {
    display: none;
  }
}

.cloud-container.decoration.bottom {
  left:      -310px;
  transform: none;
  width:     510px;
  height:    290px;
  top:       auto;
  bottom:    -150px;
}

.cloud-container.decoration.bottom-right {
  left:      auto;
  top:       auto;
  transform: none;
  width:     510px;
  height:    290px;
  bottom:    0;
  right:     0;
}

#bfio-team .cloud-container.decoration.right {
  right: -340px;
  top:   460px;
}

#bfio-team .cloud-container.decoration.left {
  top:  110px;
  left: -260px;
}

#bfio-team .cloud-container.decoration.bottom-right {
  bottom: 290px;
  right:  -260px;
}

.yellow.cloud {
  stroke: #F5E7B8;
}

.purple.cloud {
  stroke: #4B3F80;
}

.orange.cloud {
  stroke: #ff9900;
}

.animation-container {
  width:      100%;
  min-height: 600px;
  position:   relative;
}

@media screen and (max-width: 768px) {
  .animation-container {
    width:      100%;
    min-height: 400px;
    position:   relative;
  }
}

#bfio-team .bfio-lead {
  font-size:     50px;
  font-weight:   300;
  color:         #484c50;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  #bfio-team .bfio-lead {
    font-size: 35px;
  }
}

#bfio-team .bfio-sub-lead {
  font-size:   18px;
  line-height: 32px;
  font-weight: 300;
}

#bfio-team .bfio-project-item .bfio-text {
  padding:    30px 10px 10px 20px;
  text-align: center;
}

#bfio-team .bfio-project-item .bfio-text h2, #bfio-team .bfio-project-item .bfio-text span {
  text-decoration: none !important;
}

#bfio-team .bfio-project-item .bfio-text h2 {
  font-size:   18px;
  font-weight: bold;
  margin:      0 0 10px 0;
  color:       #484c50;
}

#bfio-team .bfio-project-item .bfio-text span {
  color:       #b3b3b3;
  font-size:   16px;
  font-weight: 400;
}

#bfio-team .bfio-project-item.image-popup {
  background:    rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
  cursor:        pointer;
}

#bfio-team .description {
  height:        0;
  overflow:      hidden;
  transition:    1s all;
  margin-bottom: 0;
  opacity:       0;
}

#bfio-team .toggle {
  cursor: pointer;
}

#bfio-team .with-description .description {
  opacity: 1;
}

#bfio-team .photo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.bfio-feature .bfio-icon .icon {
  stroke:       white;
  fill:         white;
  stroke-width: 2px;
}

.bfio-feature {
  text-align:    center;
  border-radius: 20px;
  margin-top:    20px;
  margin-bottom: 20px;
  color:         white;
}

.bfio-feature .title {
  font-weight: bold;
  font-size:   18px;
}

#bfio-features .btn {
  font-size:      inherit;
  margin-left:    10px;
  padding-bottom: 16px;
}

.bfio-feature .description {
  font-size: 75%;
}

.bfio-feature .description-container {
  display: inline-block;
  width:   220px;
}


#bfio-features #animation_02_container {
  margin-top: -75px;
}

#bfio-features #animation_02_container canvas {
  width:  100% !important;
  height: auto !important;
}

#bfio-about .bfio-social a {
  font-size: 35px !important;
  color:     #b3b3b3 !important;
}

#bfio-about .bfio-social a:hover {
  color: #333333 !important;
}

#bfio-about .bfio-lead {
  font-size:     50px;
  font-weight:   300;
  color:         #484c50;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  #bfio-about .bfio-lead {
    font-size: 35px;
  }
}

#bfio-about .bfio-sub-lead {
  font-size:   18px;
  line-height: 32px;
  font-weight: 300;
}

#bfio-about .flexslider {
  background:            transparent;
  border:                none;
  -webkit-border-radius: 0;
  -moz-border-radius:    0;
  -ms-border-radius:     0;
  border-radius:         0;
}

#bfio-subscribe {
  padding: 3em 0;
}

#bfio-subscribe .subscribe-btn {
  border-top-left-radius:    0;
  border-bottom-left-radius: 0;
  margin:                    0;
  width:                     126px;
}

#bfio-subscribe .subscribe-email {
  width:        calc(100% - 126px);
  border-right: none;
}

#bfio-subscribe .btn {
  height: 54px;
}

#bfio-subscribe .btn.follow {
  padding-top: 14px;
}

#bfio-subscribe .subscribe-form {
  padding-bottom: 20px;
}

#bfio-subscribe .subscribe-error {
  color:       #b6312d;
  font-weight: bold;
}

#bfio-subscribe .subscribe-success h3 {
  color: #4B3F80;
}

#bfio-footer {
  padding-bottom: 0;
  position:       relative;
  overflow:       hidden;
}

#bfio-footer a {
  color: #6a7885;
}

#bfio-footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  #bfio-footer .bfio-footer-widget {
    margin-bottom: 30px;
    float:         left;
    width:         100%;
  }
}

#bfio-footer .bfio-footer-widget h3 {
  font-size:   18px;
  font-weight: 400;
}

#bfio-footer .bfio-footer-widget .bfio-links {
  padding: 0;
  margin:  0;
}

#bfio-footer .bfio-footer-widget .bfio-links li {
  padding:       0;
  margin:        0;
  list-style:    none;
  margin-bottom: 15px;
  line-height:   24px;
}

#bfio-footer .bfio-footer-widget .bfio-links li a {
  color: #6a7885;
}

#bfio-footer .bfio-footer-widget .bfio-links li a:hover {
  text-decoration: underline;
}

#bfio-footer .bfio-copyright {
  border-top: 1px solid #f0f2f3;
  padding:    40px 0;
}

#bfio-footer .bfio-copyright a {
  font-weight: 700;
}

#bfio-footer .bfio-copyright p {
  margin-bottom: 0;
}

#bfio-footer .bfio-copyright p small {
  font-size: 15px;
}

#bfio-footer .bfio-copyright .bfio-left {
  float: left;
}

#bfio-footer .bfio-copyright .bfio-right {
  float: right;
}

@media screen and (max-width: 768px) {
  #bfio-footer .bfio-copyright .bfio-right {
    float: left;
  }
}

#bfio-footer .links {
  border-top:  1px solid #f0f2f3;
  padding-top: 30px;
}

#bfio-footer .cloud-container {
  width:     580px;
  height:    410px;
  max-width: 100%;
  top:       auto;
  bottom:    -220px;
  left:      50%;
}

.bfio-social {
  padding: 0;
  margin:  0;
}

.bfio-social li {
  padding: 0;
  margin:  10px;
  display: inline;
  font-size: 40px;
}

.bfio-social li a:hover {
  text-decoration: none !important;
  color:           #4b3f80 !important;
}

#bfio-offcanvas, .bfio-nav-toggle, #bfio-page {
  -webkit-transition: 0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
}

#bfio-offcanvas, .bfio-nav-toggle, #bfio-page {
  position: relative;
}

#bfio-page {
  z-index:            2;
  -webkit-transition: 0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
  padding-top:        150px;
}

@media screen and (max-width: 768px) {
  #bfio-page {
    z-index:            2;
    -webkit-transition: 0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
    padding-top:        100px;
  }
}

#bfio-page a.anchor {
  position: relative;
  top:      -150px;
}

#bfio-header {
  transition: 0.5s;
}

.offcanvas-visible #bfio-page, .offcanvas-visible .background, .offcanvas-visible #bfio-header {
  -moz-transform:    translateX(-275px);
  -webkit-transform: translateX(-275px);
  -ms-transform:     translateX(-275px);
  -o-transform:      translateX(-275px);
  transform:         translateX(-275px);
}

#bfio-offcanvas {
  display:    none;
  height:     100%;
  right:      0;
  overflow-y: auto;
  position:   fixed;
  z-index:    1;
  top:        0;
  width:      275px;
  background: black;
  padding:    30px;
}

@media screen and (max-width: 768px) {
  #bfio-offcanvas {
    display: block;
  }
}

#bfio-offcanvas ul {
  padding: 0;
  margin:  0;
}

#bfio-offcanvas ul li {
  padding:     0;
  margin:      0 0 10px 0;
  list-style:  none;
  line-height: 28px;
}

#bfio-offcanvas ul li a {
  font-size: 18px;
  color:     rgba(255, 255, 255, 0.7);
}

#bfio-offcanvas ul li.active a {
  color: #4b3f80;
}

.bfio-nav-toggle {
  cursor:          pointer;
  text-decoration: none;
}

.bfio-nav-toggle.active i::before, .bfio-nav-toggle.active i::after {
  background: #fff;
}

.bfio-nav-toggle:hover, .bfio-nav-toggle:focus, .bfio-nav-toggle:active {
  outline:       none;
  border-bottom: none !important;
}

.bfio-nav-toggle i {
  position:       relative;
  display:        -moz-inline-stack;
  display:        inline-block;
  zoom:           1;
  *display:       inline;
  width:          30px;
  height:         2px;
  color:          #4b3f80;
  font:           bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent:    -55px;
  background:     #4b3f80;
  transition:     all .2s ease-out;
}

.bfio-nav-toggle i::before, .bfio-nav-toggle i::after {
  content:            '';
  width:              30px;
  height:             2px;
  background:         #4b3f80;
  position:           absolute;
  left:               0;
  -webkit-transition: 0.2s;
  -o-transition:      0.2s;
  transition:         0.2s;
}

.bfio-nav-toggle i::before {
  top: -7px;
}

.bfio-nav-toggle i::after {
  bottom: -7px;
}

.bfio-nav-toggle:hover i::before {
  top: -10px;
}

.bfio-nav-toggle:hover i::after {
  bottom: -10px;
}

.bfio-nav-toggle.active i {
  background: transparent;
}

.bfio-nav-toggle.active i::before {
  top:               0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform:    rotateZ(45deg);
  -ms-transform:     rotateZ(45deg);
  -o-transform:      rotateZ(45deg);
  transform:         rotateZ(45deg);
}

.bfio-nav-toggle.active i::after {
  bottom:            0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform:    rotateZ(-45deg);
  -ms-transform:     rotateZ(-45deg);
  -o-transform:      rotateZ(-45deg);
  transform:         rotateZ(-45deg);
}

.bfio-nav-toggle {
  position: fixed;
  top:      40px;
  right:    20px;
  z-index:  9999;
  display:  block;
  margin:   0 auto;
  display:  none;
  cursor:   pointer;
}

@media screen and (max-width: 768px) {
  .bfio-nav-toggle {
    display: block;
    top:     10px;
  }
}

.btn-cta {
  padding:   20px 30px !important;
  width:     200px;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .btn-cta {
    padding: 10px 30px !important;
    width:   100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-top-padded-lg {
  padding-top: 7em;
}

@media screen and (max-width: 768px) {
  .row-top-padded-lg {
    padding-top: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-top-padded-md {
  padding-top: 4em;
}

@media screen and (max-width: 768px) {
  .row-top-padded-md {
    padding-top: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.row-top-padded-sm {
  padding-top: 2em;
}

@media screen and (max-width: 768px) {
  .row-top-padded-sm {
    padding-top: 2em;
  }
}

.js .animate-box {
  opacity: 0;
}

.bfio-country {
  width:  30px;
  border: 1px solid black;
}

#bfio-roadmap .title {
  padding:  132px 0;
  position: relative;
}

#bfio-roadmap ul {
  text-align: left;
}

#bfio-roadmap li {
  font-size: 16px;
}

.bfio-role {
  font-weight:   bold;
  margin-bottom: 10px;
}

html, body, #bfio-page {
  height: 100%;
}

.pre-sale .apply-btn {
  width:                     130px;
  /*width:                     330px;*/
  height:                    54px;
  border-left:               none;
  border-bottom-left-radius: 0;
  border-top-left-radius:    0;
  margin:                    0;
}

.pre-sale .apply-form-error {
  color:       #E6501E;
  font-weight: bold;
}

.pre-sale .apply-form-success {
  color:       #4B3F80;
  font-weight: bold;

}

.pre-sale .apply-email {
  width: calc(100% - 134px);
  /*width: calc(100% - 334px);*/
}

.pre-sale #animation_01_container {
  float: right;
}

.bfio-loader {
  background: url(../images/Preloader_2.gif) left no-repeat #fff;
  min-height: 64px;
  min-width:  64px;
}

.text-center .bfio-loader {
  background-position-x: center;
}

.small-loader {
  background:      url(../images/Preloader_2.gif);
  width:           32px;
  height:          32px;
  content:         '';
  background-size: cover;
}

.p-like {
  margin-bottom: 1.5em;
}

.step2b .recap .field {
  font-weight: bold;
}

.step2b .recap .value {
  margin-left:   20px;
  margin-bottom: 20px;
}

.conclusion {
  border-radius: 5px;
  border:        2px solid;
  padding:       20px;
  margin-top:    20px;
  font-weight:   bold;
}

.conclusion strong {
  font-size: 120%;
}

.smaller {
  font-size: 20px !important;
}

#press .logo {
  width:         128px;
  height:        128px;
  max-width:     100%;
  background:    #4B3F80;
  border-radius: 20px;
  padding:       20px;
  display:       inline-block;
}

#press img {
  max-width:  100%;
  max-height: 100%;
}

#press .title {
  font-weight:   bold;
  margin-bottom: 10px;
}

#links .link-container {
  background:    rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border:        1px solid black;
  padding:       20px;
  margin-bottom: 20px;
}

#links .link-container > div {
  display:     inline-block;
  line-height: 28px;
}

#links .link-container .link-illustration {
  font-style: italic;
  width:      84px;
  text-align: right;
}

#links .link-container .link-description {
  float:       right;
  font-weight: bold;
}

#links .link-container .link-label {
  font-weight: bold;
  margin-left: 20px;
}

input.no-decoration {
  width:      420px;
  text-align: center;
  outline:    none;
  border:     none;
}

.abi-container {
  height:   200px;
  overflow: scroll;
}

.warning.ether-amount, .error.transaction-creation-failed {
  margin:     50px;
  margin-top: 10px;
  color:      #c7254e;
}